---
import BlogSectionLink, { type Link } from "@/components/BlogSectionLink.astro";
import type { Heading } from "@/components/types";

interface Props {
  sectionLinks: Heading[];
}

const { sectionLinks } = Astro.props;
---

<aside class="sticky top-0 h-full">
  <span
    class="flex pb-6 text-3xl font-semibold text-neutral-200 text-opacity-70"
    >Table of Contents</span
  >
  <div class="flex flex-col gap-2">
    {
      links.map((link) => (
        <BlogSectionLink
          depth={link.depth}
          href={link.href}
          text={link.text}
          isActive={link.isActive}
        />
      ))
    }
  </div>
</aside>
