---
import BlogLayout from "@/layouts/BlogLayout.astro";
import BlogContent from "@/components/BlogContent.astro";
import BlogNavigation from "@/components/BlogNavigation.astro";
import BlogTitle from "@/components/BlogTitle.astro";
import type { FrontMatter } from "@/pages/index.astro";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import type { MarkdownHeading } from "astro";

interface Props {
  frontmatter: FrontMatter;
  headings: MarkdownHeading[];
  Content: AstroComponentFactory;
}

const { frontmatter, headings, Content } = Astro.props;
---

<BlogLayout title={frontmatter.title}>
  <span></span>
  <BlogTitle title={frontmatter.title} class={"span"} />
  <BlogNavigation
    links={headings.map((heading) => ({
      href: `#${heading.slug}`,
      text: heading.text,
      isActive: heading.text === "Prerequisites",
    }))}
  />
  <BlogContent Markdown={Content} />
</BlogLayout>
