---
import BlogLayout from "@/layouts/BlogLayout.astro";
import BlogContent from "@/components/BlogContent.astro";
import BlogNavigation from "@/components/BlogNavigation.astro";
import BlogTitle from "@/components/BlogTitle.astro";
import type { MarkdownInstance } from "astro";

type Blog = MarkdownInstance<{
  title: string;
  author: string;
  date?: string;
}>;

interface Props {
  Blog: Blog;
}

const { Blog } = Astro.props;
---

<BlogLayout title={Blog.frontmatter.title}>
  <span></span>
  <BlogTitle title={Blog.frontmatter.title} class={"span"} />
  <BlogNavigation
    links={Blog.getHeadings().map((heading) => ({
      href: `#${heading.slug}`,
      text: heading.text,
      isActive: heading.text === "Prerequisites",
    }))}
  />
  <BlogContent Markdown={Blog.Content} />
</BlogLayout>
