---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-screen w-screen overflow-hidden bg-black">
    <main
      class="h-full w-full overflow-y-auto bg-gradient-to-b from-primary-950/60 to-primary-950/15"
    >
      <div
        class="mx-auto grid min-h-full max-w-7xl grid-cols-[auto_minmax(0,_1fr)] gap-x-12 px-12 pt-48"
      >
        <slot />
      </div>
    </main>
  </body>
</html>
