* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: inter, system-ui, sans-serif;
}

:root {
  /* Slate */
  --neutral-100: oklch(0.968 0.007 247.896);
  --neutral-200: oklch(0.929 0.013 255.508);
  --neutral-300: oklch(0.869 0.022 252.894);
  --neutral-400: oklch(0.704 0.04 256.788);
  --neutral-500: oklch(0.554 0.046 257.417);
  --neutral-600: oklch(0.446 0.043 257.281);
  --neutral-700: oklch(0.372 0.044 257.287);
  --neutral-800: oklch(0.279 0.041 260.031);
  --neutral-900: oklch(0.208 0.042 265.755);
  --neutral-950: oklch(0.129 0.042 264.695);

  /* Sky */
  --primary-50: oklch(0.977 0.013 236.62);
  --primary-100: oklch(0.951 0.026 236.824);
  --primary-200: oklch(0.901 0.058 230.902);
  --primary-300: oklch(0.828 0.111 230.318);
  --primary-400: oklch(0.746 0.16 232.661);
  --primary-500: oklch(0.685 0.169 237.323);
  --primary-600: oklch(0.588 0.158 241.966);
  --primary-700: oklch(0.5 0.134 242.749);
  --primary-800: oklch(0.443 0.11 240.79);
  --primary-900: oklch(0.391 0.09 240.876);
  --primary-950: oklch(0.293 0.066 243.157);

  /* Pink */
  --accent-50: oklch(0.971 0.014 343.198);
  --accent-100: oklch(0.948 0.028 342.258);
  --accent-200: oklch(0.899 0.061 343.231);
  --accent-300: oklch(0.823 0.12 346.018);
  --accent-400: oklch(0.718 0.202 349.761);
  --accent-500: oklch(0.656 0.241 354.308);
  --accent-600: oklch(0.592 0.249 0.584);
  --accent-700: oklch(0.525 0.223 3.958);
  --accent-800: oklch(0.459 0.187 3.815);
  --accent-900: oklch(0.408 0.153 2.432);
  --accent-950: oklch(0.284 0.109 3.907);

  /* Lime */
  --success-50: oklch(0.986 0.031 120.757);
  --success-100: oklch(0.967 0.067 122.328);
  --success-200: oklch(0.938 0.127 124.321);
  --success-300: oklch(0.897 0.196 126.665);
  --success-400: oklch(0.841 0.238 128.85);
  --success-500: oklch(0.768 0.233 130.85);
  --success-600: oklch(0.648 0.2 131.684);
  --success-700: oklch(0.532 0.157 131.589);
  --success-800: oklch(0.453 0.124 130.933);
  --success-900: oklch(0.405 0.101 131.063);
  --success-950: oklch(0.274 0.072 132.109);

  /* Amber */
  --warning-50: oklch(0.987 0.022 95.277);
  --warning-100: oklch(0.962 0.059 95.617);
  --warning-200: oklch(0.924 0.12 95.746);
  --warning-300: oklch(0.879 0.169 91.605);
  --warning-400: oklch(0.828 0.189 84.429);
  --warning-500: oklch(0.769 0.188 70.08);
  --warning-600: oklch(0.666 0.179 58.318);
  --warning-700: oklch(0.555 0.163 48.998);
  --warning-800: oklch(0.473 0.137 46.201);
  --warning-900: oklch(0.414 0.112 45.904);
  --warning-950: oklch(0.279 0.077 45.635);

  /* Rose */
  --danger-50: oklch(0.969 0.015 12.422);
  --danger-100: oklch(0.941 0.03 12.58);
  --danger-200: oklch(0.892 0.058 10.001);
  --danger-300: oklch(0.81 0.117 11.638);
  --danger-400: oklch(0.712 0.194 13.428);
  --danger-500: oklch(0.645 0.246 16.439);
  --danger-600: oklch(0.586 0.253 17.585);
  --danger-700: oklch(0.514 0.222 16.935);
  --danger-800: oklch(0.455 0.188 13.697);
  --danger-900: oklch(0.41 0.159 10.272);
  --danger-950: oklch(0.271 0.105 12.094);

  --black: #000;
  --white: #fff;
}

